@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Rubik:wght@300;400;800&display=swap');

body{
    margin: 0;
    background-color: #9096a3;
    font-family: 'Rubik', sans-serif;
}
a{
    text-decoration: none;
    color:black;
}
.conteiner{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.header{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #6b6f77;
    position: fixed;
    top: 0;
    justify-content: space-between;
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
    
}
.nav{
    display: flex;
    height: 100%;
    align-items: center;

}
.logo{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.logo a{
    display: flex;
    justify-content: center;
    margin: 25px;
}
.logo a img{
    display: flex;
    height: 40px;
    width: 200px;
    justify-content: center;
}

.nav ul {
    display: flex;
    

}

li{
    list-style-type: none;

}
 .nav li a{
     padding:23px 120px 23px 23px;
     color: black;
     font-weight: bold;
     text-decoration: none;
     text-transform: uppercase;
     font-size: 20px;
     border-left:1px solid rgb(165, 163, 159);
     transition: .5s ease;
     
 }
 .nav li a:hover,.activ{
     background-color:#555658;
     color: oldlace;
 }
 
    
 .content-wrapper{
     display: flex;
     padding: 70px 50px;
 }
 .content-mean{
     width: 70%;
     font-size: 20px;
     padding: 20px;
 }
 .city, .prof,.it{
     font-weight: bold;
     text-transform: capitalize;
 }
 .skillfactory{
     color: green;
     font-weight: bold;
     font-size: 25px;
 }
 .imges{
     width: 30%;
     display: flex;
     flex-direction: column;
     padding: 20px;
     text-align: right;
     }
.imges img {
        width: 100%;
        border: 1px solid;
        border-radius: 7px;
    }
h1{
        font-size: 55px;
    }
    .imeges ul {
        padding-left: 0px;
    }
    .imeges li{
        font-size: 20px;
        width: 100%;
    }
    .bolt-text{
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 20px;
        width: 100%;
    }
   
 footer{
     display: flex;
     height: 100px;
     background-color: #6b6f7755;
     margin-top:auto;
     /*border-top: 2px solid #0000002c;*/
     justify-content: center;
     align-items: center;
     box-shadow: 3px 0 7px rgba(0,0,0,.3);
     width: 100%;
 }
 .contentt{
     display: flex;
 }
 .contentt a img{
     height: 45px;
     margin: 10px;
}

.footer-content{
    display: flex;
    flex-direction: row;
    position: absolute;
}
.mail {
    position: fixed;
    bottom: 30px;
    right: 0px;
    
    
}
.mail img {
    height: 55px;
    width: 55px;
    opacity: 0.7;

}
.mail span{
    color:black;
    font-size: 20px;
    padding-right:45px;
    
}

@media screen and (max-width: 660px){
    .bolt-text{
        font-size: 15px;
    }
    .nav li a{
        font-size: 15px;
        padding: 30px 5px 25px 5px
    }
    h1{
        font-size: 35px;
    }
    
}
@media screen and (max-width:550px){
    .bolt-text{
        font-size: 10px;
    }
    .nav li a{
        font-size: 10px;
    }
    


}
    

@media screen and ( max-width: 1020px) {
    .nav li a{
        padding-right: 23px;
    }
    .logo a img{
        width: 150px;
    }
    
}
